* {
    font-family: monospace;
}

input[type="text"] {
    height: 1em;
    width: 2em;
}

html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

header {
    background-color: rgb(255, 230, 0);
}

#header-container {
    margin: 2vh;
}

#app {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #c4fff7;
}

#webgl-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#canvas {
    height: calc(65*0.56vw);
    max-width: calc(65vh/0.56);
    max-height: 65vh;
    background-color: white;
}

.settings-container {
    margin: 0;
    background-color: #fff8e9;
    display: flex;
    flex-direction: row;
}

.modes-container {
    flex-direction: column;
    margin: 1em;
    align-content: center;
}

h3 {
    margin-left: 1em;
    margin-bottom: 0;
}

.modes {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-around;
}

.indicator {
    margin: 1em;
    color: lightgray;
}

.indicator.active {
    color: blue;
}

.container {
    display: flex;
    /* padding: 10px; */
    /* margin: 5px; */
    /* width: 90px; */
    text-align: center;
    border-radius: 2px;
}

.container2 {
    position: relative;
    padding: 0px;
    margin: 5px;
    width: 10px;
    text-align: center;
    border-radius: 2px;
}

.color-el {
    width: 6em;
}

.container:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#color-picker {
    width: 30px;
    height: 30px;
}
h5 {
    display: inline !important;
}
